#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        ALPHA {
            bindings = <
&kp Q           &kp W               &kp F           &kp P             &kp B        &kp J      &kp L              &kp U            &kp Y                &kp SQT
&mt LEFT_GUI A  &mt LEFT_CONTROL R  &mt LEFT_ALT S  &mt LEFT_SHIFT T  &kp G        &kp M      &mt RIGHT_SHIFT N  &mt RIGHT_ALT E  &mt RIGHT_CONTROL I  &mt RIGHT_GUI O
&kp Z           &kp X               &kp C           &kp D             &kp V        &kp K      &kp H              &kp COMMA        &kp DOT              &kp FSLH
                                    &kp ESCAPE      &kp SPACE         &kp LSHFT    &kp ENTER  &lt 1 BACKSPACE    &kp DELETE
            >;
        };

        Number {
            bindings = <
&kp LEFT_BRACKET  &kp N7  &kp N8  &kp N9     &kp RIGHT_BRACKET    &kp DEL  &kp DEL    &kp DEL   &kp DEL    &kp DEL
&kp SEMICOLON     &kp N4  &kp N5  &kp N6     &kp BACKSLASH        &kp DEL  &kp RSHFT  &kp RALT  &kp RCTRL  &kp RGUI
&kp DEL           &kp N1  &kp N2  &kp N3     &kp DEL              &kp DEL  &kp DEL    &kp DEL   &kp DEL    &kp DEL
                          &kp N0  &kp MINUS  &kp EQUAL            &trans   &trans     &trans
            >;
        };

        Navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT
&trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans  &trans
                &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
